/* .navheader--wrapper {
  max-width: 100%;
  height: auto;
  display: flex;
  background-color: var(--main-black);
  padding: 0px 20px;
  background-color: yellow;
  border: 1px red solid;
} */

.navheader--burgernone {
  /* display: none; */
}

/* .navheader--wrapper ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
} */

@media screen and (min-width: 600px) {
  .navheader--wrapper ul {
    /* flex-direction: row; */
  }
}

/* .navheader--wrapper ul > * {
  padding: 5px;
  margin: 5px 20px 5px 5px;
} */

/* .navheader--wrapper a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-white);
} */

/* .navheader--wrapper a:hover {
  color: var(--main-red);
} */

/* #mobile-menu {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-black);
  opacity: 0.7;
} */

/* #mobile-menu summary {
  list-style: none;
} */

#burger {
  /* position: absolute; */
  /* right: 10px;
  top: 5px;
  display: inline-block;
  cursor: pointer;
  border: 2px red solid; */
}

/* Burger icon */
/* #burger span {
  display: block;
  border-radius: 10px;
  width: 35px;
  height: 5px;
  background-color: var(--main-white);
  margin: 6px 0;
} */

.navheader--wrapper {
  display: flex;
  background-color: var(--main-black);
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}

.navheader--wrapper a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-white);
}

.navheader--wrapper a:hover {
  color: var(--main-red);
}

.logo-nav {
  display: flex;
}

.logo-nav h1 {
  color: var(--main-white);
  font-weight: bold;
  padding-right: 50px;
  cursor: auto;
}

.logo-nav h1:hover {
  color: var(--main-red);
}

.nav-options {
  /* padding-left: 25px; */
  /* display: grid; */
  /* grid-template-columns: repeat(3, auto); */
  grid-gap: 50px;
  display: flex;
  list-style-type: none;
}

.mobile-option {
  display: none;
}
.mobile-menu {
  display: none;
}

.option :hover {
  color: white;
}

@media (max-width: 648px) {
  /*Mobile View */
  .navheader {
    padding: 0px 10px;
  }

  .nav-options {
    display: flex;
    width: 30%;
    height: 250px;
    position: absolute;
    top: 80px;
    right: -100%;
    flex-direction: column;
    grid-gap: 0px;
  }

  .nav-options.active {
    background: #49494b;
    right: 0px;
    opacity: 0.9;
    transition: all 0.5s ease;
    padding-left: 0px;
  }

  .menu-icon {
    color: var(--main-white);
    cursor: pointer;
    width: 45px;
    height: 45px;
  }

  .menu-icon:hover {
    color: var(--main-red);
  }
  .option {
    display: flex;
    align-items:center;
    justify-content:space-around;
    height: 10vw;
    padding: 30px 0px;
  }
  .mobile-menu {
    display: block;
  }
}
