.navheader--wrapper {
  max-width: 100%;
  height: auto;
  display: flex;
  background-color: var(--main-black);
  padding: 0px 20px;
}

.navheader--wrapper ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .navheader--wrapper ul {
    flex-direction: row;
  }
}

.navheader--wrapper ul > * {
  padding: 5px;
  margin: 5px 20px 5px 5px;
}

.navheader--wrapper a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-white);
}

.navheader--wrapper a:hover {
  color: var(--main-red);
}
