.mainheader--wrapper {
  /* border: 50px solid red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--main-black);
}

@media screen and (min-width: 850px) {
  .mainheader--wrapper {
    flex-direction: row;
  }
}

.mainheader--wrapper div h2 img {
  width: 500px;
  margin: 50px 10px 10px 30px;
}

.mainheader--wrapper h3 {
  font-size: 33px;
  font-weight: bold;
  color: red;
  margin: 10px 10px 10px 30px;
  word-break: break-all;
}

.mainheader--wrapper img {
  margin: 20px auto;
  width: 80vw;
}

@media screen and (min-width: 800px) {
  .mainheader--wrapper img {
    width: 600px;
    margin: 10px 50px 10px auto;
  }
}
