.mainheader--wrapper {
  display: flex;
  height: 100vh;
  max-width: 100%;
  background-color: var(--main-black);
  background-image: url("../../assets/images/dd-standing.png");
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 600px) {
  .mainheader--wrapper {
    background-image: url("../../assets/images/dd-header.png");
  }
}

.mainheader--wrapper h2 {
  font-size: 33px;
  font-weight: bold;
  color: red;
  margin: 10px 10px;
}
